<!DOCTYPE html>
<html>
    <head>
      <meta http-equiv="Content-Security-Policy" content="default-src * self blob: data: gap:; style-src * self 'unsafe-inline' blob: data: gap:; script-src * 'self' 'unsafe-eval' 'unsafe-inline' blob: data: gap:; object-src * 'self' blob: data: gap:; img-src * self 'unsafe-inline' blob: data: gap:; connect-src self * 'unsafe-inline' blob: data: gap:; frame-src * self blob: data: gap:;">
        <title>Group-Chat</title>
        <link rel="icon" href="data:;base64,=">
        <!-- <link rel="stylesheet" href="sweetalert2.min.css"> -->
        <link rel="stylesheet" href="/css/index.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>

      <div class="nav-div">
        <div><h2 id="username">Welcome! Client</h2></div>
        <div class="logout-div">
          <button id="logout" type="button">Log-Out</button>
        </div>
      </div>

      <div class="main-container-div">

        <div class="container-div">
          <div class="table" id="table">
          </div>
        </div>

      </div>
  


        
            <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
            <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
            <!-- <script src="sweetalert2.min.js"></script> -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js" integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            <script src="/js/index.js"></script>
    </body>
</html>