<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Security-Policy" content="default-src * self blob: data: gap:; style-src * self 'unsafe-inline' blob: data: gap:; script-src * 'self' 'unsafe-eval' 'unsafe-inline' blob: data: gap:; object-src * 'self' blob: data: gap:; img-src * self 'unsafe-inline' blob: data: gap:; connect-src self * 'unsafe-inline' blob: data: gap:; frame-src * self blob: data: gap:;">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Password</title>
    <link rel="icon" href="data:;base64,=">
    <link rel="stylesheet" href="/css/forgot-password.css">
</head>
<body>
    
    <div class="header"><h1>Please Create A New Password!</h1></div>
    <div id="form-div" class="form-div">
        <form>
          <label for=""><h2 style="font-weight:900;">Remember It Next Time!</h2></label>
          <small id="msg" class="small-text"></small>
            <div class="form-group">
              <label for="exampleInputEmail1">Create Password</label>
              <input type="password" class="form-control" id="password" placeholder="Enter New Password">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="cpassword" placeholder="Confirm Password">
            </div>
            <div class="form-group login-div">
                <h5 class="login-div-items">New User? Click : </h5>
                <button id="signup" class="btn btn-secondary login-div-items">Sign-Up</button>
            </div>
          </form>
    </div>


    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js" integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/forgot-password.js"></script>
</body>
</html>